<a href="https://colab.research.google.com/github/rhiats/data-structures-and-algorithms/blob/main/arrays_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Calculate the Average Temperature and Days above Average**

In [8]:
import numpy as np

numDaysInt=int(input("How many days temperature? \t"))

temps_lst=[]

for i in range(1,numDaysInt+1):
  t=float(input("Day "+str(i)+" Temperature: "))
  temps_lst.append(t)

temps_arr=np.asarray(temps_lst)

avg_flt=round(np.sum(temps_arr)/numDaysInt,2)

print("\nThe average temperature is {} degrees".format(avg_flt))

for t in range(len(temps_arr)):
  if temps_arr[t]>avg_flt:
    day_int=t+1
    print("\nDay {} is above the average temperature".format(day_int))

How many days temperature? 	3
Day 1 Temperature: 1
Day 2 Temperature: 2
Day 3 Temperature: 3

The average temperature is 2.0 degrees

Day 3 is above the average temperature

**Missing Number** - Sum of Numbers - Current List Total

In [11]:
def missing_number(arr, n):
    cur_num,prev_num=0,0

    arr.sort()

    for i in range(1,len(arr)+1):
        cur_num=arr[i]
        prev_num=arr[i-1]

        if (cur_num-prev_num)>1:
            return(prev_num+1)

missing_number([102, 101, 103, 104, 106], 6)

105

**Pairs/Two Sum**

Find all pairs of integers whose sum is equal to a given number

In [22]:
arr=[3,2,4]
target=6

seen_dict={}

for i,num in enumerate(arr):
  complement = target - num

  if complement in seen_dict:
    print([seen_dict[complement],i])

  seen_dict[num]=i

[1, 2]

**Check Array for Value**

In [23]:
arr=[1,2,3,4,5]
target=3

for i in arr:
  if i == target:
    print(i)

3

**Middle List**

In [30]:
lst_orig=[1,2,3,4,5]
lst_mid=lst_orig[1:-1]
lst_mid

[2, 3, 4]

**Sum Diagonal Elements**

Use matrix[i][i] for diagonal elements

In [34]:
myList2D= [[1,2,3],[4,5,6],[7,8,9]]

total=0
for i, row in enumerate(myList2D):
  for j, col in enumerate(row):
    if i == j:
      total+=myList2D[i][j]

print(total)

15

**Best Score**

In [38]:
my_list=[84,85,86,87,85,90,85,83,23,45,84,1,2,0]
my_list=list(set(my_list))
my_list.sort(reverse=True)
print(my_list[0],my_list[1])

0 1

**Pairs**

In [ ]:
myList=[2, 4, 3, 5, 6, -2, 4, 7, 8, 9]
sum=7
#Output : ['2+5', '4+3', '3+4', '-2+9']